.header-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 100px 0px 100px;
    background-color: rgba(229, 84, 115, 0.10);
}
.header-image{
    width: 75%;
    padding-left: 30px;
    padding-top: 25px;
}
.secound-container{
    text-align: center;

}
.boxs{
    display: flex;
    justify-content:center;
    gap: 50px;
}
.box{
    width: 264px;
    height: 338px;
    border-radius: 110px 110px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    
}
.image-one{
    width: 70%;
    padding: 83px 0px 20px 0px;
    
}
.image-two{
    width: 90%;
    padding: 80px 20px 40px 20px;
}
.image-three{
    width: 70%;
    padding: 60px 0px 20px 40px;
}
.three{
    text-align: center;
    font-weight: bold;
}
.two{
    text-align: center;
    font-weight: bold;
}
.one{
    text-align: center;
    font-weight: bold;
}
.pinkflower{
    color: #0f0b0b;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    text-decoration-line: underline;
}
.third-container{
    width: 1340px;
    height: 420px;
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
    margin-top: 100px;
    justify-content: space-around;  
}
.third-img{
    width: 50%;
}
.fourth-container{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.foutn-images{
    width: 80%;
}
.fouth-container-image{
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: auto;
    padding-left: 50px;
}
.fifth-container{
    width: 1020px;
    height: 320px;
    background-image: url(./New/Rectangle\ 9.png);
    margin: auto;
    margin-top: 60px;
    display: flex;
    text-align: center;
    align-items: center;
}
.banner-info{
    margin-left: 400px;
    margin-top: 40px;

}
.gkfoee{
    padding: 10px 110px 10px 5px;
    border-radius: 5px;
    
    
}
.gkfoeeee{
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    background-color: rgb(136, 26, 87);
    color: aliceblue;
}
.footer-container{
    width: 1340px;
    height: 349px;
    background-color: black;
    margin-top: 40px;
    color: aliceblue;
    text-align: center;
    align-items: center;
}
.footertwo{
    padding-top: 90px;
}
.shop{
    color: rgb(255, 0, 0);
}
.get-the{
    font-size: 40px;
    margin-bottom: 0px;

}
.text-content{
    padding-left: 50px;
    
}