.header-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 100px 0px 100px;
    background-color: rgba(229, 84, 115, 0.10);
}
.header-image{
    width: 100%;
}